@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap');

/* * {
    border: red solid 1px;
} */

body {
    height: 80vh;
    background-color: lightyellow;
}

body,
.calculator,
.numpad button,
.side-bar button,
.top-row button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    flex-direction: column;
    border: black solid 1px;
    border-radius: 8px;
    width: 450px;
    height: 550px;
    background-color: rgb(19, 18, 18)
}

#display {
    display: flex;
    height: 65px;
    font-size: 35px;
    width: 340px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 15px;
}

.numpad {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 255px;
    height: 340px;
}

button {
    width: 75px;
    height: 75px;
    margin: 5px;
    font-size: 35px;
    font-family: 'Bungee', cursive;
    border: none;
    border-radius: 8px;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 340px;
    width: 85px;
}

.top-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85px;
    width: 340px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    height: 425px;
}

.numpad button {
    background-color: cornflowerblue;
}

.side-bar button {
    background-color: coral;
}

.top-row button {
    background-color: darkblue;
}